.custom-bg{
    background:#e53935!important;
}

.admin .card{    
    border:1px solid #e53935;    
}

.admin .card:hover{    
    background: #e2e2e2;
    cursor: pointer;
}
.list-group-item.active{
    background:#e53935!important;
    border-color: #e53935!important;
}
.discount-label{
    font-size: 10px!important;
    font-style: italic!important;
    text-decoration: line-through!important;
}
.product-card:hover{
   background: #e2e2e2;
   cursor: pointer; 
}